<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connext.wms.dao.ExpressCompanyMapper">
  <resultMap id="BaseResultMap" type="com.connext.wms.entity.ExpressCompany">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="express_company_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="contact_way" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, express_company_name, contact_way
  </sql>
  <select id="selectByExample" parameterType="com.connext.wms.entity.ExpressCompanyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_express_company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_express_company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPage" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, express_company_name, contact_way
    from t_express_company
    limit #{start},#{size}
  </select>
  <select id="selectByKey" parameterType="com.connext.wms.entity.ExpressCompanyExample" resultMap="BaseResultMap">
    select id, express_company_name, contact_way
    from t_express_company
      where express_company_name like #{key}
           limit #{start},#{size}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_express_company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.connext.wms.entity.ExpressCompanyExample">
    delete from t_express_company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.connext.wms.entity.ExpressCompany">
    insert into t_express_company (id, express_company_name, contact_way
      )
    values (null , #{expressCompanyName,jdbcType=VARCHAR}, #{contactWay,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.connext.wms.entity.ExpressCompany">
    insert into t_express_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="expressCompanyName != null">
        express_company_name,
      </if>
      <if test="contactWay != null">
        contact_way,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="expressCompanyName != null">
        #{expressCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="contactWay != null">
        #{contactWay,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.connext.wms.entity.ExpressCompanyExample" resultType="java.lang.Long">
    select count(*) from t_express_company
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_express_company
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.expressCompanyName != null">
        express_company_name = #{record.expressCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactWay != null">
        contact_way = #{record.contactWay,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_express_company
    set
      express_company_name = #{record.expressCompanyName,jdbcType=VARCHAR},
      contact_way = #{record.contactWay,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.connext.wms.entity.ExpressCompany">
    update t_express_company
    <set>
      <if test="expressCompanyName != null">
        express_company_name = #{expressCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="contactWay != null">
        contact_way = #{contactWay,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.connext.wms.entity.ExpressCompany">
    update t_express_company
    set express_company_name = #{expressCompanyName,jdbcType=VARCHAR},
      contact_way = #{contactWay,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>