body{
    margin: 0;
    position: relative;
    top: -1px;
    font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
input {
    border: 0!important;
    background-color: #FFFFFF;
}
.container{
    /* width: 966px;
    height: 1400px; */
    /* padding-bottom: 30px; */
    /* border: 1px solid rgb(191, 191, 191); */
    margin: 0 auto;
    /* box-shadow: grey 10px 10px 15px 15px; */
}
input{
    border: 0;
    background: #fff;
}
.top{
    height: 60px;
    background-color: rgb(255,255, 255);
}
.text1{
    position: relative;
    margin-left: 25px;
    margin-top: 30px;
}
/* .main{
    border: 1px solid rgb(240, 242, 255);
    background-color: rgb(240,242,255);
    height: 820px;
} */
.main-body{
    background-color: rgb(255,255,255);
    height: 850px;
    position: relative;
}
.main-content1{
    /* background-color: aquamarine; */
    height: 132px;
    /* border: 1px solid #000; */
}
.title{
    /* height: 30px; */
    /* background-color: goldenrod; */
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 600;
    /* margin-left: 20px; */
}
/* .title-content{ */
    /* height: 170px;
    margin-top: 5px; */
    /* background-color: blueviolet; */
    /* border: 1px solid #000; */
/* } */
.title-content1{
   height: 40px;
   font-weight: initial;
    /* background-color: aqua; */
}
.title-content1-top1{
    float: left;
    margin-left: 20px;
    position: relative;
}
.title-content1-top2{
    float: left;
    margin-left: 300px;
    position: absolute;
}
.title-content1-top3{
    float: left;
    margin-left: 650px;
    position: absolute;
}
.title-content2{
    height: 40px;
    font-weight: initial;
    /* background-color: purple; */
}
.title-content3{
    height: 50px;
    /* background-color: forestgreen; */
}
.main-content2{
    height: 100px;
    border-top:1px solid rgb(191,191,191);
    margin-top: 5px;
    font-weight: 600;
}
.main-content3{
    height: 87px;
    border-top:1px solid rgb(191,191,191);
}
.main-content4{
    height: 180px;
    border-top:1px solid rgb(191,191,191);
    margin-top: 5px;
    /* border: 1px solid #000; */
}
.main-content5{
    border-top:1px solid rgb(191,191,191);
    margin-top: 5px;
    height: 500px;
    padding-bottom: 30px;
}
.address-information{
    margin-left: 20px;
    /* margin-top: 10px; */
}
.address-detail{
    width: 400px;
    height: 30px;
    /* margin-top: 25px; */
}
.input4{
    width: 300px;
    display: none;
}
button:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
button.focus, button:focus, button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #286090;
    border-color: #204d74;
}
.btn1{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-left: 50px;
    border-radius: 4px;
    width: 70px;
    height: 30px;  
    cursor:pointer;
}
.btn2{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 4px;
    margin-left: 50px;
    width: 80px;
    height: 30px; 
    cursor:pointer; 
}
.btn3{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 4px;
    margin-left: 50px;
    width: 70px;
    height: 30px;  
    cursor:pointer;
}
.address-information{
    margin-top: 15px;
}
/* .address-city{
    margin-top: 15px;
} */
.title-content4{
    float: left;
    margin-left: 20px;
    position: relative; 
}
/* .main-content2{
    height: 640px;
} */
.main-content5-title{
    height: 40px;
    font-weight: 600;
}
.tab{
    position: relative;
    height: 100%;
    width:100%;
    text-align: center;  
    margin: 0 auto; 
    background-color: rgb(243,243,243);
}
th{
    font-weight: normal;
}
tr:hover td{
    background-color:rgb(230,247,255);
}
.tr-title{
    background-color: rgb(204,204,204);
}
td{
    font-weight: lighter;
    font-size: 15px;
    color:rgb(89, 89, 89);
    border-collapse: collapse;
    border-bottom: 1px solid rgb(191,191,191);
}
/* .ttdd{
    color: rgb(24,144,255);
} */

