body{
    margin: 0px;
    position: relative;
    top: -1px;
}
.container{
    /* border: 1px solid rgb(191, 191, 191); */
    margin: 0 auto;
    /* box-shadow: grey 10px 10px 15px 15px; */
}
.top{
    height: 80px;
    background-color: rgb(255,255, 255);
}
.text1{
    position: relative;
    margin-left: 25px;
    margin-top: 30px;
}
.main{
    border: 1px solid rgb(240, 242, 255);
    background-color: rgb(240,242,255);
    height: 920px;
}
.main-body{
    background-color: rgb(255,255,255);
    height: 850px;
    position: relative;
}
.main-content1{
    /* background-color: aquamarine; */
    height: 172px;
    /* border: 1px solid #000; */
}
.title{
    height: 30px;
    /* background-color: goldenrod; */
    font-size: 18px;
    font-weight: 600;
}
.title-content{
    height: 170px;
    margin-top: 5px;
    /* background-color: blueviolet; */
    /* border: 1px solid #000; */
}
.title-content1{
    height: 50px;
    /* background-color: aqua; */
}
.title-content1-top1{
    float: left;
    margin-left: 20px;
    position: relative;
}
.title-content1-top2{
    float: left;
    margin-left: 400px;
    position: absolute;
}
.title-content1-top3{
    float: left;
    margin-left: 750px;
    position: absolute;
}
.title-content2{
    height: 50px;
    /* background-color: purple; */
}
.title-content3{
    height: 50px;
    /* background-color: forestgreen; */
}
input{
    display: none;
}
.main-content2{
    height: 640px;
    /* background-color: gold; */
}
.main-content2-title{
    height: 40px;
    /* border: 1px solid #000; */
}
.tab{
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;  
    margin: 0 auto; 
    background-color: rgb(243,243,243);
}
th{
    font-weight: normal;
}
tr:hover td{
    background-color:rgb(230,247,255);
}
.tr-title{
    background-color:rgb(204,204,204);
}
td{
    font-weight: lighter;
    font-size: 15px;
    /* color:rgba(0,0,0,.65); */
    color:rgb(89, 89, 89);
    border-collapse: collapse;
    border-bottom: 1px solid rgb(191,191,191);
}
/* .ttdd{
    color: rgb(24,144,255);
} */

