body{
    background-color:#F0F2F5
}
a{
    text-decoration: none;
}
.warehouse{
    width:100%;
    height:650px;
}
/* 仓库页面上面部分 */
.warehouse .warehouse-top{
    width:98%;
    height:100px;
    margin:0 auto;
    position: relative;
    top:20px;
    background: #FFFFFF;
}
/* 仓库页面增加表单部分 */
.warehouse .warehouse-top .add{
    width:40%;
    height:100px;
    position:relative;
    text-align: right;
    float:right;
    line-height:30px;
    color:#48ABFD;
}
.button-add{
    width:130px;
    height:35px;
    size:large;
    border-radius:10px;; 
    border:0.5px solid #aaa;
    background-color:#48ABFD;
    color:#fff;
    font-size:20px;
    font-size: bold;
    position: relative;
    top:30px;
    right:35px;
}
/* 仓库页面搜索部分 */
.warehouse .warehouse-top .search{
    width:40%;
    height:100px;
    font-size:18px;
}
.input-search{
   width:250px;
   height:30px;
   position: relative;
   top:30px;
   left:35px;
   border-radius:30px;
   border:1px solid #aaa;
}
.input-search:hover,.button-add:hover{
    box-shadow: 1px 2px 5px #48ABFD,-2px -2px 5px #48ABFD;
}
/* 仓库页面仓库表格部分 */
.warehouse .warehouse-bottom{
    width:98%;
    height:460px;
    margin: 0 auto;
    position: relative;
    top:40px;
}
.warehouse .warehouse-bottom .warehouse-bottom-01{
    width:100%;
    height:100%;
}
.warehouse .warehouse-bottom .tableTit{
    width:100%;
    height:50px;
    table-layout:fixed;
    background: #FAFAFA;
}
.number{
    width:17%;
    height:60px;
    border-bottom:0.5px solid #FAFAFA;
}
.w-number{
    width:25%;
    height:60px;
    border-bottom:1px solid #FAFAFA;
}
.number01{
    width:17%;
    height:50px;
    border-bottom:0.5px solid #FAFAFA;
    text-align:center;
}
.w-number01{
    width:25%;
    height:50px;
    border-bottom:0.5px solid #FAFAFA;
   
}
.tableTit2{
    background-color: #FFFFFF;
}
.tableTit2:hover{
    background-color:#ECF9FF;
}
/* 阿里巴巴矢量图标部分 */
#icon1{
    font-size:30px;
    color:#aaa;
}
#icon4{
    font-size:30px; 
    color:#aaa;
}
#icon2{
    font-size:25px; 
    color:#aaa;
    position: relative;
    left:-10px;
    top:37px;
}
#icon1:hover,#icon2:hover,#icon4:hover{
    box-shadow: 0 1px 5px #48ABFD;
}
/* 最下面部分 */
.page{
    width:100%;
    height:50px;
    position: relative;
    top:40px;
    left:0px;
    font-size:16px;
    text-align: right;
    line-height: 50px;
}
.page a{
    margin:0px 10px;
}
