<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>仓库</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="overflow-x:hidden;background:#f3f3f3;">
<!--/*@thymesVar id="one" type="com.connext.wms.entity.InRepertory"*/-->
<input id="InRepoId" type="hidden" th:value="${one.id}">
<th:block th:each="i:${one.getRepertoryDetails()}">
    <label th:for="${i.getGoodsId()}" th:text="${i.getGoodsName()}"></label>
    <input type="int" th:id="${i.getGoodsId()}" th:value="${i.getGoodsNum()}">
</th:block>
<button onclick="sth()">确认</button>
</body>
<script>
    function sth() {
        var array = [];
        $('input').each(
            function () {
                var sku = $(this).attr("id");
                var goodsNum = $(this).val()
                array.push({"sku": sku, "goodsNum": goodsNum})
            }
        )
        var list = JSON.stringify(array);
        $.post("/inRepertory/action/exception"),
            {
                id:$('#InRepoId').val(),
                list:list
            }
            function f() {
                alert("success")
            }
    }
</script>
</html>