<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>仓库</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="overflow-x:hidden;background:#f3f3f3;">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">确认收货异常</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal add" role="form">
                <!--/*@thymesVar id="one" type="com.connext.wms.entity.InRepertory"*/-->
                <div class="form-group" th:each="i:${one.getRepertoryDetails()}">
                    <input type="hidden" name="sku" th:value="${i.goodsId}">
                    <label for="goodsNum" class="col-sm-2 control-label" th:text="${i.goodsName}"></label>
                    <div class="col-sm-10">
                        <input type="text" name="goodsNum" class="form-control" id="goodsNum" th:value="${i.goodsNum}"
                               placeholder="请输入实际收到的完好商品数量">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</body>
<script>
    function saveJudge() {
        form = $(".form-horizontal.add")
        var d = {};
        var t = form.serializeArray();
    }
</script>
</html>