<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>联蔚实习登录页面</title>
    <link rel="stylesheet" type="text/css" href="/css/registerLoading/loading.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<!-- 网易登陆页面的最上面的部分 -->
<div class="header">
    <!-- 左边部分 -->
    <div class="header-left">
        <a href="javascript:void(0)" title="" class="header-01">
            <img src="/img/registerLoading/connext.png" alt="*">
        </a>
        <div class="header-left-01"></div>
        <div class="header-left-02">中国电商大品牌</div>
    </div>
    <!-- 右边部分 -->
    <div class="header-right">
        <a href="javascript:void(0)" title="*">企业邮箱</a>
        <a href="javascript:void(0)" title="*">VIP邮箱</a>
        <a href="javascript:void(0)" title="*">国外用户登陆</a>
        <a href="javascript:void(0)" title="*">手机版</a>
        <a href="javascript:void(0)" title="*">电脑板</a>
        <a href="javascript:void(0)" title="*">帮助</a>
        <a href="javascript:void(0)" title="*">私人问题</a>
        <a href="javascript:void(0)" title="*">常见问题</a>
        <a href="javascript:void(0)" title="*">登陆问题</a>
    </div>
</div>
<!-- 网易登陆页面的中间的部分 -->
<!-- 登陆部分 -->
<div class="main" style="background:url(/img/registerLoading/image3.png) no-repeat; background-size: 100%;">
    <div class="main-inner">
        <div class="box">
            <div class="box-top">
                快速登录
            </div>
            <div class="box-middle">
                <!--<form id="form1">-->
                <p class="address"><input type="tel" class="table1" name="biao1" id="username"
                                          placeholder="请输入手机号码"
                                          style="outline:none;" autocomplete="on">
                <p class="password"><input type="password" class="table2" placeholder="请输入密码" id="password"
                                           style="outline:none;"></p>
                <div class="freeload">
                    <input id="remember-me" name="remember-me" type="checkbox"/>
                    <span for="s1" class="lable">
                                记住密码
                    </span>
                    <!--<a href="javascript:void(0)" title="*" class="forget"> 忘记密码？</a>-->
                </div>
                <button type="button" class="load-02" onclick="login()">登&nbsp&nbsp录</button>
                <script>
                    function login() {
                        $.post("/user/login",
                            {
                                username: $("#username").val(),
                                password: $("#password").val(),
                                'remember-me':$("#remember-me").is(':checked'),
                            },
                            function (res) {
                                if (res.state == "Access") {
                                    window.location.replace("/");
                                }
                                alert(res.state);
                            });
                    }
                </script>
                <!-- <div class="insert-01"><a target="_blank" href="register.html"&nbsiv cla页面">注&nbsp&nbsp册</a></div> -->
                <!-- <img src="../../assets/images/registerLoading/image4.png" alt="*" class="image-bottom"> -->
                <div class="book1">你&nbsp的&nbsp青&nbsp春&nbsp不&nbsp该&nbsp只&nbsp有&nbsp书&nbsp籍<br>也&nbsp不&nbsp该&nbsp只&nbsp有&nbsp游&nbsp戏
                </div>
                <!--</form>-->
            </div>
            <div class="box-bottom">
                <a href="javascript:void(0)" title="*" class="box-bottom-01">欢迎你回来</a><br>
                <a href="javascript:void(0)" title="*" class="box-bottom-02">联蔚科技提醒你不要浪费时间</a>
            </div>
        </div>
        <div class="main-bottom">
            <div class="main-bottom-01"><a href="javascript:void(0);" rel="external nofollow" id="left">
                <</a></div>
            <div class="main-bottom-02"><a href="javascript:void(0);" rel="external nofollow"
                                           id="right">></a></div>
        </div>
    </div>
</div>
</div>
<!-- 网易登陆页面的最下面的部分 -->
<div class="footer">
    <div class="footer-left"><a><img src="/img/registerLoading/connext.png" alt="*"></a></div>
    <div class="footer-right-top"><a href="javascript:void(0)" title="*">企业邮箱</a>
        <a href="javascript:void(0)" title="*" class="footer-right-top-01">联蔚首页</a>
        <a href="javascript:void(0)" title="*">国外用户登陆</a>
        <a href="javascript:void(0)" title="*">联蔚黄页</a>
        <a href="javascript:void(0)" title="*">联蔚制造</a>
        <a href="javascript:void(0)" title="*">联蔚.有钱</a>
        <a href="javascript:void(0)" title="*">联蔚严选</a>
        <a href="javascript:void(0)" title="*">联蔚一起拼</a>
        <a href="javascript:void(0)" title="*">政府公益热线</a></div>
    <div class="footer-right-bottom">
        <a href="javascript:void(0)" title="*" class="footer-right-bottom-01">公司版权所有©1997-2018</a>
        <a href="javascript:void(0)" title="*">ICP证粤B2-20090191</a>
        <a href="javascript:void(0)" title="*">粤公网安备 44010602000311</a>
        <span style=" color:#ccc">（数据来源：艾媒联蔚报告）</span>
    </div>
</div>
<script type="text/javascript" src="/js/registerLoading/loading.js"></script>
</body>
</html>