<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>出库详情</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/specific/outstock.css}"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/search.css}">
</head>
<style>
    thead tr td{

        text-align:center;
    }
</style>
<body style="overflow-x:hidden;">
<div>

    <div class="main-body">
        <div>
            <div class="title">
                <text>商品信息</text>
            </div>
            <div class="title-content">
                <div class="title-content1">
                    <div class="title-content1-top1">订单号：<input disabled="disabled"
                                                                th:text="${outRepoOrder.orderId}"></div>
                    <div class="title-content1-top2">渠道订单号：<input disabled="disabled"
                                                                  th:text="${outRepoOrder.channelId}"></div>
                    <div class="title-content1-top3">同步状态：<input disabled="disabled"
                                                                 th:text="#{''+${outRepoOrder.SyncStatus}}"></div>
                </div>
                <div class="title-content2">
                    <div class="title-content1-top1">收货人：<input disabled="disabled"
                                                                th:text="${outRepoOrder.receiverName}"></div>
                    <div class="title-content1-top2">快递公司：<input disabled="disabled"
                                                                 th:text="${outRepoOrder.expressCompany}"></div>
                    <div class="title-content1-top3">快递单号：<input disabled="disabled"
                                                                 th:text="${outRepoOrder.expressId}"></div>
                </div>
                <div class="title-content3">
                    <div class="title-content1-top1">出库单状态：<input disabled="disabled"
                                                                  th:text="#{''+${outRepoOrder.outRepoStatus}}"></div>
                    <div class="title-content1-top2">收货地址：<input disabled="disabled"
                                                                 th:text="${outRepoOrder.receiverAddress}"></div>
                    <div class="title-content1-top3">创建时间：<input disabled="disabled"
                                                                 th:text="${#dates.format(outRepoOrder.createTime,'yyyy-MM-dd HH:mm:ss')}"></div>
                </div>
            </div>
        </div>

        <div class="main-content2">
            <div class="main-content2-title">
                <text style="font-size: 18px; font-weight: 600;">出库商品</text>
            </div>
                <table class="table table-condensed">
                   <thead>
                   <tr>
                       <th style="width:150px;">出库单号</th>
                       <th style="width:150px;">商品编码</th>
                       <th>商品名称</th>
                       <th>单价</th>
                       <th>数量</th>
                       <th>金额</th>
                   </tr>
                   </thead>
                    <tr th:each="orod:${outRepoOrderDetail}">
                        <td th:text="${outRepoOrder.outRepoId}"></td>
                        <td></td>
                        <td th:text="${orod.goodsName}"></td>
                        <td></td>
                        <td th:text="${orod.goodsNum}"></td>
                        <td></td>
                    </tr>

                </table>
        </div>


    </div>
</div>

</body>
</html>