.btn-div .search-box{
    /* margin-right: 40px; */
    float: right;
}
.btn-div .search-box select{
    width: 90px;
    height: 34px;
    border-radius: 4px;
    border-color: #2e6da4;
    margin-right: 8px;
}
.btn-div .search-box input{
    width: 120px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #2e6da4;
}
body .footer-pager {
    padding: 0 1em;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
body .footer-pager span {
    line-height: 74px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 1.1em;
}
/* 添加的表格样式 */
/* 嵌入的表格，设置内边距，不顶到左侧菜单 */
body .btn-div {
    padding: 10px 0;
}
body {
    padding: 10px;
}
body div table thead {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Chuanya.xu添加的代码 */
.table tbody tr .operation{

    width:100px;
    
    height:30px;
}
.table tbody tr .number{

    width:100px;
    
    height:30px;
}
.table tbody tr .batch{

    width:100px;
    
    height:30px;
}
.table tbody tr td #sel{   
    width: 100px;
    height : 21px;
    border-radius : 10%;
    position: relative;
    border:1px solid #f3f3f3;
    color:rgb(146, 144, 144);
    background-color: #f3f3f3;
    left:16px;
    z-index: 100;
}
.table tbody tr td #changeId{   
    width: 100px;
    height : 21px;
    border-radius : 10%;
    position: relative;
    border:1px solid #f3f3f3;
    color:rgb(146, 144, 144);
    background-color: #e6f7ff;
    left:16px;
    z-index: 100;
}
.table tbody tr td #sel:hover{
    background-color:  #e6f7ff;
}
/* 表格公众样式 */
.table-box {
    border-bottom: 1px solid #ddd;
}
.table tbody tr td{
    height: 30px;
    font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
}
.table thead tr th {
    border-bottom: 1px;
    text-align: center;
}
.table thead tr th:last-child {
    width: 100px;
}
.table thead tr th:first-child,
.table thead tr th:nth-of-type(2) {
    width: 100px;
}
.table input[type=checkbox] {
    margin: 0;
}
.btn-div {
    padding: 10px;
}
.table tbody td {
    text-align: center;
}
.table tbody tr:hover {
    background-color: #e6f7ff;
}
/* 自定义checkbox样式 */
#checkOne + label::before {
    content: "\a0";  /*不换行空格*/
    display: inline-block;
    vertical-align: .2em;
    width: 1em;
    height: 1em;
    border-radius: .2em;
    background-color: silver;
    text-indent: .15em;
    line-height: .65;  
}
#checkOne:checked + label::before {
    content: "\2713";
    background-color: #528dff;
    color: #fff;
}
#checkOne {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.clearfix::after {
    content:""; 
    display:table; /*采用此方法可以有效避免浏览器兼容问题*/
    clear:both;
}
/* end-- */
/*popup*/
#mask_shadow {
display: none;
opacity: 0;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
}
.popup {
display: none;
opacity: 0; 
position: relative;
margin: 0 auto;
z-index: 3;
top:  -543px;
width: 966px;
height: 530px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.popup .title {
position: relative;
width: 100%;
height: 45px;
background-color:#4285F4;
}
.popup .title p {
padding-left: 14px;
line-height: 55px;
color:#fff;
}
.popup .title span {
position: absolute;
top: 12px;
right:  8px;
width: 30px;
height: 30px;
color: #fff;
font-size: 21px;
cursor: pointer;
text-align: center;
/* border: 1px solid #333; */
}
.popup .cont { width: 100%; height:100%; background-color: #fff;    }
/* end */