<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>异常订单详情</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/specific/abnormal-order.css"/>
</head>
<body style="overflow-x:hidden;">
        <div class="container">
                <!-- 下面部分 -->
                    <div class="main-body">
                        <div class="main-content1">
                            <div class="title"><text>基本信息</text></div>
                            <div class="title-content">
                                <div class="title-content1">
                                    <div class="title-content1-top1">订单号：<input disabled="disabled"></div>
                                    <div class="title-content1-top2">渠道订单号：<input disabled="disabled"></div>
                                    <div class="title-content1-top3">订单状态：<input disabled="disabled"></div>
                                </div>
                                <div class="title-content2">
                                    <div class="title-content1-top1">订单来源：<input disabled="disabled"></div>
                                    <div class="title-content1-top2">异常类型：<input disabled="disabled"></div>
                                    <div class="title-content1-top3">异常原因：<input disabled="disabled"></div>
                                </div>
                                <div class="title-content3">
                                    <div class="title-content1-top1">异常状态：<input disabled="disabled"></div>
                                    <div class="title-content1-top2">修改人：<input disabled="disabled"></div>
                                    <div class="title-content1-top3">修改时间：<input disabled="disabled"></div>
                                </div>
                            </div>
                        </div>
        
                        <div class="main-content2">
                            <div class="main-content2-title"><text style="font-size: 18px;  font-weight: 600;">异常订单商品</text></div>
                            <table border="0" cellspacing="0" cellpadding="0" class="tab">
                                <tr class="tr-title">
                                    <th>商品编码</th>
                                    <th>商品名称</th>
                                    <th>商品单价</th>
                                    <th>商品数量</th>
                                    <th>商品总价</th>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>200</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>200</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td> 
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>200</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td> 
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>200</td>  
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>200</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>200</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>200</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>200</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>200</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>200</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>200</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td> 
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>200</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>200</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td class="ttdd">12345</td>
                                    <td>矿泉水</td>
                                    <td>2</td>
                                    <td>200</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 15px;"><strong>总计</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td>4005</td>
                                    <td>1000</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
</body>
</html>