<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发货异常订单详情</title>
    <link rel="stylesheet" type="text/css" href="/css/specific/abnormal-order.css"/>
</head>
<body style="overflow-x:hidden;">
        <div class="container">
                <!-- 下面部分 -->
                    <div class="main-body">
                        <div class="main-content1">
                            <div class="title"><text>基本信息</text></div>
                            <div class="title-content">
                                <div class="title-content1">
                                    <div class="title-content1-top1">订单号：<input th:value="${detail.orderId}" disabled="disabled"></div>
                                    <div class="title-content1-top2">渠道订单号：<input th:value="${detail.channelId}" disabled="disabled"></div>
                                </div>
                                <div class="title-content2">
                                    <div class="title-content1-top1">快递公司：<input disabled="disabled"
                                                                                 th:value="${detail.expressCompany}"></div>
                                    <div class="title-content1-top2">快递单号：<input disabled="disabled"
                                                                                 th:value="${detail.expressId}"></div>
                                </div>
                                <div class="title-content3">
                                    <div class="title-content1-top1">异常状态：<input th:value="#{''+${detail.outRepoStatus}}" disabled="disabled"></div>
                                    <div class="title-content1-top2">修改人：<input th:value="${detail.reviser}" disabled="disabled"></div>
                                    <div class="title-content1-top3">修改时间：<input th:value="${#dates.format(detail.reviseTime, 'YYYY/MM/DD HH:mm')}" disabled="disabled"></div>
                                </div>
                            </div>
                        </div>
        
                        <div class="main-content2">
                            <div class="main-content2-title"><text style="font-size: 18px;  font-weight: 600;">异常订单商品</text></div>
                            <table border="0" cellspacing="0" cellpadding="0" class="tab">
                                <tr class="tr-title">
                                    <th>商品编码</th>
                                    <th>商品名称</th>
                                    <th>商品数量</th>
                                </tr>
                                <tr th:each="obj,i:${good}">
                                    <td th:text="${obj.goodsSku}"></td>
                                    <td th:text="${obj.goodsName}"></td>
                                    <td th:text="${obj.num}"></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
</body>
</html>