<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>入库详情</title>
    <link rel="stylesheet" type="text/css" href="/css/addstock.css"/>
</head>
<body style="overflow-x:hidden;">
<div class="container">
    <!-- 上面部分 -->
    <div class="main-body">
        <div class="main-content1">
            <div class="title">
                <text>商品信息</text>
            </div>
            <div class="title-content">
                <div class="title-content1">
                    <!--/*@thymesVar id="one" type="com.connext.wms.entity.InRepertory"*/-->
                    <div class="title-content1-top3">入库单号：<input disabled="disabled" th:value="${one.inRepoId}"></div>
                    <div class="title-content1-top1">订单号：<input disabled="disabled" th:value="${one.orderId}"></div>
                    <div class="title-content1-top2">渠道订单号：<input disabled="disabled" th:value="${one.channelId}"></div>
                </div>
                <div class="title-content2">
                    <div class="title-content1-top2">入库单状态：<input disabled="disabled" th:value="${one.inRepoStatus}"></div>
                    <div class="title-content1-top3">收货仓库：<input disabled="disabled" th:value="${one.receivingRepo}"></div>
                </div>
                <div class="title-content3">
                    <div class="title-content1-top1">创建时间：<input disabled="disabled" th:value="${one.createTime}"></div>
                    <div class="title-content1-top2">修改人：<input disabled="disabled" th:value="${one.reviser}"></div>
                    <div class="title-content1-top3">修改时间：<input disabled="disabled" th:value="${one.reviseTime}"></div>
                </div>
            </div>
        </div>

        <div class="main-content2">
            <div class="main-content2-title">
                <text style="font-size:18px;font-weight: 600;">入库商品</text>
            </div>
            <table border="0" cellspacing="0" cellpadding="0" class="tab">
                <tr class="tr-title">
                    <th>商品编号</th>
                    <th>商品名称</th>
                    <th>数量</th>
                </tr>
                <tr th:each="i:${one.repertoryDetails}">
                    <td class="ttdd" th:text="${i.goodsId}"></td>
                    <td th:text="${i.goodsName}"></td>
                    <td th:text="${i.goodsNum}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>