<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OMS订单管理系统</title>
    <link rel="stylesheet" type="text/css" href="/css/web/sfont.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
</head>
<body class="index" style="overflow-y: hidden">
<div class="main">
    <!--左侧手风琴开始-->
    <div class="left">
        <div class="left-h2">
            <img src="/img/OMS.png" alt="">
            <h2>Manage System</h2>
        </div>
        <dl class="list_dl">
            <!--加上id="open"默认打开-->
            <dt class="list_dt" id="open">
                <!--<span class="_after"></span>-->
                <i class="i_orders left-i"></i>
                <p>订单管理</p>
                <i class="list_dt_icon"></i>
            </dt>
            <dd class="list_dd" style="display: block">
                <ul class="list_dd_ul"  >
                    <li class="list_li" mid="tab1"  funurl=".././details/orders/order-list.html">
                        <a tabindex="-1" href="javascript:void(0);" id="default">订单列表</a>
                    </li>
                    <li class="list_li" mid="tab2" funurl="/exception/findList?currPage=1">
                        <a tabindex="-1" href="javascript:void(0);">异常出库单列表</a>
                    </li>
                    <li class="list_li" mid="tab3" funurl="/outRepoOrderController/outRepoOrderList">
                        <a tabindex="-1" href="javascript:void(0);">出库单列表</a>
                    </li>
                    <li class="list_li" mid="tab4" funurl="/inRepertory/page/1">
                        <a tabindex="-1" href="javascript:void(0);">入库单列表</a>
                    </li>
                    <li class="list_li" mid="tab5" funurl=".././details/orders/sales-return-list.html">
                        <a tabindex="-1" href="javascript:void(0);">退货单列表</a>
                    </li>
                    <li class="list_li" mid="tab6" funurl=".././details/orders/refund-list.html">
                        <a tabindex="-1" href="javascript:void(0);">退款单管理</a>
                    </li>
                </ul>
            </dd>
            <dt class="list_dt">
                <!--<span class="_after"></span>-->
                <i class="i_warehouse left-i"></i>
                <p>库存管理</p>
                <i class="list_dt_icon"></i>
            </dt>
            <dd class="list_dd">
                <ul class="list_dd_ul">
                    <li class="list_li" mid="tab7" funurl="/goodsRepertory/showRealRepertory?currPage=1">
                        <a tabindex="-1" href="javascript:void(0);">库存列表</a>
                    </li>
                    <!-- <li class="list_li" mid="tab3" funurl=".././details/orders/warehouse-out-list.html">
                        <a tabindex="-1" href="js:void(0);">出库单列表</a>
                    </li>
                    <li class="list_li" mid="tab4" funurl=".././details/orders/warehouse-in-list.html">
                        <a tabindex="-1" href="js:void(0);">入库单列表</a>
                    </li> -->
                </ul>
            </dd>
            <dt class="list_dt">
                <!--<span class="_after"></span>-->
                <i class="i_goods left-i"></i>
                <p>商品管理</p>
                <i class="list_dt_icon"></i>
            </dt>
            <dd class="list_dd">
                <ul class="list_dd_ul">
                    <li class="list_li" mid="tab8" funurl=".././details/commodity/goods-list.html">
                        <a tabindex="-1" href="javascript:void(0);">商品列表</a>
                    </li>
                </ul>
            </dd>
            <dt class="list_dt">
                <!--<span class="_after"></span>-->
                <i class="i_user left-i"></i>
                <p>用户</p>
                <i class="list_dt_icon"></i>
            </dt>
            <dd class="list_dd">
                <ul class="list_dd_ul">
                    <li class="list_li" mid="tab9" funurl="/user/queryAll">
                        <a tabindex="-1" href="javascript:void(0);">仓库管理员管理</a>
                    </li>
                    <li class="list_li" mid="tab10" funurl=".././details/user/refused-person.html">
                        <a tabindex="-1" href="javascript:void(0);">收货人管理</a>
                    </li>
                    <li class="list_li" mid="tab11" funurl="/expressCompany/findAll?currPage=1">
                        <a tabindex="-1" href="javascript:void(0);">快递公司管理</a>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="right">
        <!--右侧导航栏-->
        <div class="tablan col-md-12" id="mainFrameTabs" style="padding : 0px;">
           <span class="shrink">
                <i class="fa fa-arrow-left" ></i>
           </span>
            <ul class="user-list">
                <!--<li><i class="i_seach"></i></li>-->
                <!--<li><i class="i_user"></i></li>-->
                <!--<li><i class="i_message"></i></li>
                <li><i class="i_set"></i></li>-->
                <li><button style="border: 0;background: #FFFFFF;" type="button" onclick="window.location.href='/user/outLogin'"><i class="i_quit" style="font-size: 25px"></i></button></li>
            </ul>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active noclose" ><a href="#bTabs_tab1" data-toggle="tab">订单列表</a>
                </li>
            </ul>
            <!--noclose-->
            <div class="tab-content">
                <!--默认显示第一个列表-->
                <div class="tab-pane active" id="bTabs_tab1">
                    <iframe frameborder="0" scrolling="auto" style="width:100%;height:100%;border:0px;" src="../../../../../../../Desktop/OMS/src/pages/details/orders/order-list.html"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/tabs/tabs.js"></script>
<!-- <script src="../../assets/js/popup/popup.js"></script> -->
<script src="/js/index.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
</body>
</html>