<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>出库</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script th:src="@{/js/popup/popup.js}"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles/search.css}">
    <script type="text/javascript">
        $(function () {
            $('.action').on("click", function () {
                $('#demoModal .modal-header .modal-title').empty().text($(this).text() + "操作");
                $('#demoModal .modal-body').empty().text("确认进行" + $(this).text() + "操作？");
                $('#demoModal .modal-footer #receiveButtonId').attr("value",$(this).attr('id'));
                $('#demoModal').modal();
            });
        });

        $(function () {
            $('.btn-xs').on("click", function () {
                console.log($(this).attr('id'));
                document.getElementById('iframeId').src="../outRepoOrderController/toOutRepoDetail?outRepoOrderId="+$(this).attr('id');
            });
        });
    </script>
</head>
<body style="overflow-x:hidden;background:#f3f3f3;">
<div id="mask_shadow"></div>
<div class="btn-div">
    <button type="button" class="btn btn-primary action" id="waittingPackaged">检货</button>
    <button type="button" class="btn btn-primary action" id="waittingShipped">包装</button>
    <button type="button" class="btn btn-primary action" id="haveShipped">发货</button>
    <button type="button" class="btn btn-primary action" id="haveCanceled">取消</button>
    <div class="search-box">
        <form th:action="@{/outRepoOrderController/outRepoOrderList}" method="post">
            <select name="selectStatus" id="selectStatus">
                <option value="waittingChecked">待检货</option>
                <option value="waittingPackaged">待包装</option>
                <option value="waittingShipped">待发货</option>
                <option value="haveShipped">已发货</option>
                <option value="haveCanceled">已取消</option>
            </select>
            <input type="text" name="outRepoOrderId" placeholder="请输入出库单号">
            <button type="submit" class="btn btn-success">搜索</button>
        </form>
    </div>
</div>
<div>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>序号</th>
            <th>批量</th>
            <th>订单号</th>
            <th>出库单状态</th>
            <th>出库单号</th>
            <th>同步状态</th>
            <th>收货人</th>
            <th>快递公司</th>
            <th>快递单号</th>
            <th>收货地址</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orl,orlstatus:${outRepoOrderList}">
            <td th:text="${orlstatus.count}"></td>
            <td><input type="checkbox" name="checkboxName" th:value="${orl.id}"></td>
            <td th:text="${orl.orderId}"></td>
            <td th:text="${orl.outRepoStatus}"></td>
            <td th:text="${orl.outRepoId}"></td>
            <td th:text="${orl.syncStatus}"></td>
            <td th:text="${orl.receiverName}"></td>
            <td th:text="${orl.expressCompany}"></td>
            <td th:text="${orl.expressId}"></td>
            <td th:text="${orl.receiverAddress}"></td>
            <td th:text="${orl.createTime}"></td>
            <td>
                <button type="button" class="btn btn-default btn-xs" th:id="${orl.id}">查看</button>
                <button type="button" class="btn btn-danger btn-xs">操作</button>
            </td>
        </tr>

        </tbody>
    </table>
</div>
<!-- 弹出框 -->
<div class="modal fade" id="demoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <input class="receiveButtonId" id="receiveButtonId">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary"
                        th:onclick="'javascript:changeStatus()'">提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="footer-pager">
    <span>共<span>5</span>页，当前第<span>1</span>页</span>
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li class="disabled"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>
<div id="popup" class="popup">
    <div class="title">
        <p>出库单详情</p>
        <span></span>
        <span>x</span>
    </div>
    <div class="cont">
        <iframe src="" scrolling="auto" id="iframeId"
                style="width:100%;height:100%;border:0px;"></iframe>
    </div>
</div>
<script>
    $(function () {
        $('#popup').popup();
        $("body").css("overflow-y", "hidden");
    });
</script>
</body>
<script>
    function changeStatus() {
        var receiveButtonIdValue=document.getElementById("receiveButtonId").value;
        var checkBox = document.getElementsByName('checkboxName');
        var checkedArray = new Array();
        for (var i = 0; i < checkBox.length; i++) {
            if (checkBox[i].checked) {
                checkedArray.push(checkBox[i].value);
            }
        }
        $.getJSON("../outRepoOrderController/updateOutRepoOrderStatus",{"status":receiveButtonIdValue,"outRepoOrderIdArray":JSON.stringify(checkedArray)},function(data){
            if(data=="0"){
                alert("操作失败！");
            }else{
                location.href="../outRepoOrderController/outRepoOrderList";
            }
        })

    }

</script>
</html>