<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>出库</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script th:src="@{/js/popup/popup.js}"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <script type="text/javascript">



        $(document).ready(function(){
            var saveStatusFromBack = document.getElementById("saveStatusFromBack").value;
            $("#selectStatus").val(saveStatusFromBack);
            document.getElementById("saveFlag").value=1;
            //console.log("jiance");
            //window.location.replace("/outRepoOrderController/outRepoOrderList");
            /*$.getJSON("../outRepoOrderController/outRepoOrderList",{"currPage":1},function(data){
                console.log("getJSON")
            })*/
        });

        $(function () {
            $('.action').on("click", function () {
                $('#demoModal .modal-header .modal-title').empty().text($(this).text() + "操作");
                $('#demoModal .modal-body').empty().text("确认进行" + $(this).text() + "操作？");
                $('#demoModal .modal-footer #receiveButtonId').attr("value", $(this).attr('id'));
                $('#demoModal').modal();
            });
        });
        /*把取消按钮和别的操作按钮分开*/
        $(function () {
            $('.cancel').on("click", function () {
                $('#demoModal .modal-header .modal-title').empty().text($(this).text() + "操作");
                $('#demoModal .modal-body').empty().text("确认进行" + $(this).text() + "操作？");
                $('#demoModal .modal-footer #receiveButtonId').attr("value", $(this).attr('id'));
                $('#demoModal').modal();
            });
        });


        //查询出库单
        $(function () {
            $('.btn-default').on("click", function () {
                var id = $(this).attr('id');
                document.getElementById('iframeId').src = "../outRepoOrderController/toOutRepoDetail?outRepoOrderId=" + id + "&xmx=" + Math.random();
            });
        });

        //修改出库单
        $(function () {
            $('.btn-danger').on("click", function () {
                var id = $(this).attr('id');
                document.getElementById('iframeId').src = "../outRepoOrderController/preUpdateOutRepoOrder?outRepoOrderId=" + id + "&xmx=" + Math.random();
            });
        });

        function go(currPage) {
            $('#currPage').val(currPage);
            document.frm.submit();
        }

        function closeIFrame() {
            $('#popup').css("display", "none");
            $('#mask_shadow').css("display", "none");
        }
    </script>
</head>
<body style="overflow-x:hidden;background:#f3f3f3;">
<div id="mask_shadow">
</div>
<div class="btn-div">
    <!--<form name="frm" th:action="@{/outRepoOrderController/unclearSelect}" method="post">
        <input id="currPage" name="currPage"/>
    </form>-->
    <button type="button" class="btn btn-primary action" id="waittingPackaged">检货</button>
    <button type="button" class="btn btn-primary action" id="waittingShipped">包装</button>
    <button type="button" class="btn btn-primary action" id="haveShipped">发货</button>
    <button type="button" class="btn btn-primary cancel" id="haveCanceled">取消</button>
    <input id="saveFlag" name="saveFlag" />
    <div class="search-box">
        <form th:action="@{/outRepoOrderController/unclearSelect}" method="post" name="frm">
            <select name="selectStatus" id="selectStatus">
                <option></option>
                <option value="waittingChecked">待检货</option>
                <option value="waittingPackaged">待包装</option>
                <option value="waittingShipped">待发货</option>
                <option value="haveShipped">已发货</option>
                <option value="haveCanceled">已取消</option>
            </select>
            <input type="text" id="outRepoOrderId" name="outRepoOrderId" th:value="${outRepoOrderId}" placeholder="请输入出库单号" />
            <input type="hidden" id="saveStatusFromBack" th:value="${selectStatus}">
            <input id="currPage" name="currPage" type="hidden" />
            <button type="submit" class="btn btn-success">搜索</button>
        </form>
    </div>
</div>
<div>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>批量</th>
            <th>订单号</th>
            <th>出库单状态</th>
            <th>出库单号</th>
            <th>同步状态</th>
            <th>收货人</th>
            <th>快递公司</th>
            <th>快递单号</th>
            <th>收货地址</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>


        <tr th:each="p,pstatus:${page.data}">
            <td><input type="checkbox" name="checkboxName" th:value="${p.id}"></td>
            <td th:text="${p.orderId}"></td>
            <td th:text="#{''+${p.outRepoStatus}}"></td>
            <td th:text="${p.outRepoId}"></td>
            <td th:text="#{''+${p.syncStatus}}"></td>
            <td th:text="${p.receiverName}"></td>
            <td th:text="${p.expressCompany}"></td>
            <td th:text="${p.expressId}"></td>
            <td th:text="${p.receiverAddress}"></td>
            <td th:text="${#dates.format(p.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>
                <button type="button" class="btn btn-default btn-xs" th:id="${p.id}">查看</button>
                <t th:if="${p.outRepoStatus!='waittingShipped'}">
                    <button type="button" class="btn btn-danger btn-xs" disabled="disabled" th:id="${p.id}">操作</button>
                </t>
                <t th:if="${p.outRepoStatus=='waittingShipped'}">
                    <button type="button" class="btn btn-danger btn-xs" th:id="${p.id}">操作</button>
                </t>

            </td>
        </tr>


        </tbody>
    </table>
</div>
<!-- 弹出框 -->
<div class="modal fade" id="demoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <input class="receiveButtonId" id="receiveButtonId" type="hidden">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary"
                        th:onclick="'javascript:changeStatus()'" data-dismiss="modal">提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="footer-pager">
    <span>共<span th:text="${page.totalPage}"></span>页，当前第<span th:text="${page.currPage}"></span>页</span>
    <ul class="pagination">
        <li><a th:if="${page.currPage}>1" th:href="'javascript:go('+${page.currPage-1}+');'">&laquo;</a></li>
        <!--<li class="active"><a href="#">1</a></li>
        <li class="disabled"><a href="#">2</a></li>-->
        <li><a th:if="${page.currPage-1}>0" th:href="'javascript:go('+${page.currPage-1}+');'"
               th:text="${page.currPage-1}"></a></li>
        <li><a th:href="'javascript:go('+${page.currPage}+');'" th:text="${page.currPage}"></a></li>
        <li><a th:if="${page.currPage+1}<${page.totalPage}" th:href="'javascript:go('+${page.currPage+1}+');'"
               th:text="${page.currPage+1}"></a></li>
        <li><a th:if="${page.currPage}<${page.totalPage}" th:href="'javascript:go('+${page.currPage+1}+');'">
            &raquo;</a>
        </li>
    </ul>
</div>
<div id="popup" class="popup">
    <div class="title">
        <p>出库单详情</p>
        <span></span>
        <span>x</span>
    </div>
    <div class="cont">
        <iframe src="" scrolling="auto" id="iframeId"
                style="width:100%;height:100%;border:0px;"></iframe>
    </div>
</div>
<script>
    $(function () {
        $('#popup').popup();
        $("body").css("overflow-y", "hidden");
    });
</script>
</body>
<script>
    function changeStatus() {
        var flag;
        var receiveButtonIdValue = document.getElementById("receiveButtonId").value;
        var checkBox = document.getElementsByName('checkboxName');
        var checkedArray = new Array();
        var checkedStatusArray = new Array();
        var checkedOutRepoNoArray = new Array();
        var checkedExpressId;
        var checkedExpressCompany;
        for (var i = 0; i < checkBox.length; i++) {
            if (checkBox[i].checked) {
                checkedArray.push(checkBox[i].value);
                var tr = checkBox[i].parentNode.parentNode;
                checkedStatusArray.push(tr.cells[2].innerHTML);
                checkedOutRepoNoArray.push(tr.cells[3].innerHTML);
            }
        }
        if(checkedArray.length==1){
            checkedExpressCompany=tr.cells[6].innerHTML;
            checkedExpressId=tr.cells[7].innerHTML;
        }

        if (receiveButtonIdValue == "waittingPackaged") {
            for (var j = 0; j < checkedStatusArray.length; j++) {
                if (checkedStatusArray[j] != "待检货") {
                    alert("请选择符合状态的出库单！");
                    flag=false;
                    break;
                }
                flag=true;
            }
            if(flag==true){
                $.getJSON("../outRepoOrderController/updateOutRepoOrderStatus", {
                    "status": receiveButtonIdValue,
                    "outRepoOrderIdArray": JSON.stringify(checkedArray)
                }, function (data) {
                    if (data == "20190107") {
                        alert("操作失败！");
                    } else {
                        location.href = "../outRepoOrderController/outRepoOrderList";
                    }
                })
            }
        } else if (receiveButtonIdValue == "waittingShipped") {
            for (var j = 0; j < checkedStatusArray.length; j++) {
                if (checkedStatusArray[j] != "待包装") {
                    alert("请选择符合状态的出库单！");
                    flag=false;
                    break;
                }
                flag=true;
            }
            if(flag==true){
                $.getJSON("../outRepoOrderController/updateOutRepoOrderStatus", {
                    "status": receiveButtonIdValue,
                    "outRepoOrderIdArray": JSON.stringify(checkedArray)
                }, function (data) {
                    if (data == "20190107") {
                        alert("操作失败！");
                    } else {
                        location.href = "../outRepoOrderController/outRepoOrderList";
                    }
                })
            }
        } else if (receiveButtonIdValue == "haveShipped") {
            console.log(checkedExpressId+"000000"+checkedExpressCompany);
            if(checkedArray.length!=1){
                alert("请选择一条出库单进行操作！");
            }else if(checkedStatusArray[0] != "待发货"){
                alert("请选择符合状态的出库单！");
            }else if(checkedExpressId =="" || checkedExpressCompany == ""){
                alert("请将快递信息填写完整！")
            }else{
                $.getJSON("../outRepoOrderController/updateOutRepoOrderStatus", {
                    "status": receiveButtonIdValue,
                    "outRepoOrderIdArray": JSON.stringify(checkedArray)
                }, function (data) {
                    if (data == "20190107") {
                        alert("操作失败！");
                    } else {
                        location.href = "../outRepoOrderController/outRepoOrderList";
                    }
                })
            }
        } else if (receiveButtonIdValue == "haveCanceled") {
            for (var j = 0; j < checkedStatusArray.length; j++) {
                if (checkedStatusArray[j] == "已发货"||checkedStatusArray[j] == "已取消") {
                    alert("请选择符合状态的出库单！");
                    flag=false;
                    break;
                }
                flag=true;
            }
            if(flag==true){
                $.getJSON("../outRepoOrderController/cancelOutRepoOrder", {"outRepoOrderNoArray": JSON.stringify(checkedOutRepoNoArray)}, function (data) {
                    if (data == "20190107") {
                        alert("操作失败！");
                    } else {
                        location.href = "../outRepoOrderController/outRepoOrderList";
                    }
                })
            }
        }

    }


</script>
</html>